html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100vh;
}

body {
  margin-bottom: 60px;
  background: linear-gradient(-45deg, #e9b1a0, #f8b7d0, #aae1f5, #a9f1e1);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

a {
  color: white;
  text-decoration: none;
}

.titulo {
  font-size: 4rem !important;
  margin-bottom: 0 !important;
}

.subTitulo {
  font-weight: 300 !important;
  font-style: italic !important;
}

.LinksA:hover {
  color: white !important;
}
