@using Microsoft.AspNetCore.Identity
@model List<IdentityUser>

<h3>Users</h3>

<ul>
    @foreach (var item in Model)
    {
        <li style="display: flex; align-items: baseline;">
            <p style="width:20%">@item.UserName</p> <button type="button" class="btn btn-secondary"><a asp-action="Edit"
                    asp-route-id="@item.Id">Asignar Rol</a></button>
        </li>
        <br>
    }
</ul>